@tailwind base;
@tailwind components;
@tailwind utilities;

/* Default Light Mode */
html, body, #root {
  height: 100%;
}

body {
  @apply bg-gray-50 text-gray-900 font-sans;
}

/* When dark mode is active */
html.dark body {
  @apply bg-gray-900 text-gray-100;
}

/* Smooth transition for nice switch */
* {
  transition: background-color 0.25s ease, color 0.25s ease;
}





